*{
    box-sizing: border-box;
}
body{
    margin: 0; 
}

main{
    display: flex;
}
.container-temActual{
    width: 33%;
    min-width: 400px;
    background: #1E213A;
}
.btn-buscar-lugar{
    height: 40px;
}
.container-temActual-arriba{
    display: grid;
    grid-auto-rows: auto 1fr;
    padding: 12px 0;
    border: solid;
    background: url(./imagenes/Cloud-background.png) 
    no-repeat center;
    background-size: 100%;
}
.container-icon-clima{
   background-color: red;
   width: 100%;
   height: 100%;
   margin: 0;
}
.container-icon-clima-icon{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.container-otros-datos{
    width: 77%;
    min-width: 930px;
    background: #100E1D;
}
.containers-principal{
    display: grid;
    min-width: 375px;
}
.container-otros-datos-subcontainer{
    width: 80%;
    min-width: 300px;
    margin: auto;
    padding: 40px 0;
}
.container-otros-datos-clima-5dias{
    display: grid;
    justify-content:space-between; 
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(80px,120px));
    grid-auto-rows: 150px;
    margin-bottom: 50px;
}
.container-cartas-clima-hoy{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    grid-auto-rows: 160px 111px ;
}
.container-otros-datos-cartas{
    background: #1E213A;
}

@media (max-width:768px) {
    
    .container-otros-datos-clima-5dias{
        display: grid;
        justify-content:space-between; 
        gap: 10px;
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
        grid-auto-rows: 150px;
        margin-bottom: 50px;
    }
    .container-cartas-clima-hoy{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
        gap: 30px;
        grid-auto-rows: 160px  ;
    }
}
@media (max-width:630px) {
    main{
        display:block;
    }
    .container-temActual{
        width: 100%;
        min-width: 375px;
        height: 100vh;
    }
    .container-otros-datos{
        width: 100%;
        min-width: 375px;
    }
}